<div class="backdrop backdrop-hidden" data-modal-team>
  <div class="developers modal-animation">
    <button type="button" class="modal-close-btn" data-close-team>
      <svg class="developers__icon" width="17" height="17">
        <use href="./images/sprite.svg#icon-Close"></use>
      </svg>
    </button>
    <ul class="developers__list">
      <li class="developers__item">
        <img
          class="developers__img"
          src="./images/img-developers/Aleksandr.jpg"
          alt="developer"
        />
        <div class="developers__description">
          <h2 class="developers__name">Oleksandr Markitan</h2>
          <p class="developers__role">Team leader</p>
          <a class="developers__link" href="#" target="_blank">GitHub</a>
        </div>
      </li>
      <li class="developers__item">
        <img
          class="developers__img"
          src="./images/img-developers/Danil.jpg"
          alt="developer"
        />
        <div class="developers__description">
          <h2 class="developers__name">Danilo Glushko</h2>
          <p class="developers__role">Scrum master</p>
          <a class="developers__link" href="#" target="_blank">GitHub</a>
        </div>
      </li>
      <li class="developers__item">
        <img
          class="developers__img"
          src="./images/img-developers/Anna.jpg"
          alt="developer"
        />
        <div class="developers__description">
          <h2 class="developers__name">Hanna Shapovalova</h2>
          <p class="developers__role">Codewriter</p>
          <a class="developers__link" href="#" target="_blank">GitHub</a>
        </div>
      </li>
      <li class="developers__item">
        <img
          class="developers__img"
          src="./images/img-developers/Rostislav.jpg"
          alt="developer"
        />
        <div class="developers__description">
          <h2 class="developers__name">Rostyslav Derii</h2>
          <p class="developers__role">Codewriter</p>
          <a class="developers__link" href="#">GitHub</a>
        </div>
      </li>
      <li class="developers__item">
        <img
          class="developers__img"
          src="./images/img-developers/Sofiya.jpg"
          alt="developer"
        />
        <div class="developers__description">
          <h2 class="developers__name">Sofya Omelyanyk</h2>
          <p class="developers__role">Codewriter</p>
          <a class="developers__link" href="#" target="_blank">GitHub</a>
        </div>
      </li>
      <li class="developers__item">
        <img
          class="developers__img"
          src="./images/img-developers/Vitalii.jpg"
          alt="developer"
        />
        <div class="developers__description">
          <h2 class="developers__name">Vitaliy Danilchik</h2>
          <p class="developers__role">Codewriter</p>
          <a class="developers__link" href="#" target="_blank">GitHub</a>
        </div>
      </li>
    </ul>
  </div>
</div>
